@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@fortawesome/fontawesome-free/css/all';
@import "./et-line.css";
@import 'simplebar/dist/simplebar.min.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,700');
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700');

@layer base {
  body {
    @apply font-body;
  }
  button:focus, input:focus {
    @apply outline-none;
  }
}

.lighten::before {
  content: '';
  @apply absolute inset-0 bg-white opacity-30;
}

.darken::before {
  content: '';
  @apply absolute inset-0 bg-gray-900 opacity-30;
}
